flows.json
[
  {"id":"main","type":"tab","label":"SMART NYUKI","disabled":false},
  {"id":"t","type":"ui_tab","name":"Home","icon":"dashboard"},
  {"id":"g","type":"ui_group","name":"Hives","tab":"t","order":1,"disp":true,"width":"12"},
  {"id":"post","type":"http in","z":"main","name":"","url":"/beehive","method":"post","wires":[["save"]]},
  {"id":"save","type":"function","z":"main","name":"Save","func":"let h=global.get('hives')||{};let d=msg.payload;let id=d.hive||1;let w=parseFloat(d.weight_kg)||0;let level=Math.round((w/12)*100);level=Math.min(Math.max(level,0),100);h[id]={id,weight_kg:w,level};global.set('hives',h);msg.payload=global.get('hives');return msg;","outputs":1,"wires":[["push"]]},
  {"id":"push","type":"websocket out","z":"main","name":"","server":"","client":"ws","x":550,"y":80,"wires":[]},
  {"id":"get","type":"http in","z":"main","name":"","url":"/hives","method":"get","wires":[["send"]]},
  {"id":"send","type":"function","z":"main","name":"","func":"msg.payload=global.get('hives')||{};return msg;","outputs":1,"wires":[["resp"]]},
  {"id":"resp","type":"http response","z":"main","statusCode":"200","headers":{"Content-Type":"application/json"},"x":550,"y":160,"wires":[]},
  {"id":"harvest","type":"http in","z":"main","name":"","url":"/harvest/:id","method":"post","wires":[["do"]]},
  {"id":"do","type":"function","z":"main","name":"Harvest","func":"let id=msg.req.params.id;let h=global.get('hives')||{};if(h[id]){h[id].weight_kg=0;h[id].level=0;global.set('hives',h);}msg.payload=global.get('hives');return msg;","outputs":1,"wires":[["push","resp2"]]},
  {"id":"resp2","type":"http response","z":"main","statusCode":"200","x":750,"y":240,"wires":[]},
  {"id":"ws","type":"websocket-client","path":"/ui"},
  {"id":"ui","type":"ui_template","z":"main","group":"g","name":"Dashboard","order":1,"width":0,"height":0,"format":"<div id=\\\"app\\\"></div>\\n<script src=\\\"https://unpkg.com/vue@3\\\"></script>\\n<style>body{margin:0;background:linear-gradient(135deg,#ff6d00,#ffb300);color:white;font-family:Arial;text-align:center;padding:20px;min-height:100vh}h1{font-size:4.5rem;margin:40px 0;text-shadow:0 10px 30px #00000099}.hive{background:rgba(255,255,255,0.22);backdrop-filter:blur(15px);border-radius:30px;padding:40px;margin:30px auto;max-width:520px;box-shadow:0 25px 50px #00000088}.bar{height:70px;background:#ffffff44;border-radius:35px;overflow:hidden;margin:30px 0}.fill{height:100%;background:linear-gradient(90deg,#ffab00,#c43e00);transition:width 1.8s}button{background:#c43e00;color:white;border:none;padding:24px;font-size:28px;border-radius:30px;width:100%;cursor:pointer;font-weight:bold;margin-top:10px}button:hover{background:#e64a19;transform:scale(1.05)}button:disabled{background:#666;opacity:0.7}</style>\\n<h1>SMART NYUKI</h1>\\n<div v-for=\\\"(h,id) in hives\\\" :key=\\\"id\\\" class=\\\"hive\\\">\\n <h2>HIVE {{id}}</h2>\\n <div class=\\\"bar\\\"><div class=\\\"fill\\\" :style=\\\"{width: h.level+'%'}\\\"></div></div>\\n <p style=\\\"font-size:32px\\\"><strong>{{h.weight_kg.toFixed(2)}} kg</strong></p>\\n <p style=\\\"font-size:24px\\\">{{h.level}}% full</p>\\n <button v-if=\\\"h.level>=50\\\" @click=\\\"harvest(id)\\\">HARVEST HONEY</button>\\n <button v-else disabled>Not Ready</button>\\n</div>\\n<div v-if=\\\"!Object.keys(hives).length\\\" style=\\\"font-size:2.8rem;margin-top:180px\\\">Waiting for hives...</div>\\n<script>\\nconst {createApp,ref}=Vue;\\ncreateApp({\\n setup(){\\n const hives=ref({});\\n const ws=new WebSocket(((location.protocol==='https:'?'wss':'ws')+'://'+location.host+'/ui'));\\n ws.onmessage=e=>hives.value=JSON.parse(e.data);\\n const harvest=id=>fetch('/harvest/'+id,{method:'POST'});\\n fetch('/hives').then(r=>r.json()).then(d=>hives.value=d);\\n return {hives,harvest};\\n }\\n}).mount('#app');\\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"site","x":180,"y":340,"wires":[[]]}
]
